<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="http://127.0.0.1:5500" />
        <add name="Access-Control-Allow-Credentials" value="true"/>
        <add name="Access-Control-Allow-Headers" value="X-Requested-With, Accept-Type, Content-Type, Authorization "/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>